<!doctype html>
<html 
  lang="{{ request.locale.iso_code }}"
  class="{% if request.design_mode %}design-mode{% endif %}">
  <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

  {%- unless settings.favicon == blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: '32', height: '32' }}">
  {%- endunless -%}

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KH7XJXJP');</script>
<!-- End Google Tag Manager -->
  <meta name="google-site-verification" content="-Cw1X_0oNJ3wkiQUtoGhzeliW_B2LvV6EusafGT0h7U" />
  
  <title>
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>

  {% if page_description %}
    {% if template == 'list-collections' %}
    <meta name="description" content="Explore our world of tasty and nutritious products that will add immeasurably to your pleasure of cooking.">
  {% else %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  {% endif %}
  {% render 'meta-tags' %}
  {{ content_for_header }}

  {{ 'bootstrap.css' | asset_url | stylesheet_tag:preload: true }}
{{ 'custom.css' | asset_url | stylesheet_tag:preload: true}}
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"></noscript>
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"></noscript>
<link href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.css" rel="stylesheet">

  {% render 'styles-scripts' %}
  <script>
  document.addEventListener('DOMContentLoaded', function () {
    // Select all anchor tags
    var links = document.querySelectorAll('a');

    links.forEach(function (link) {
      // Check if the link is external
      if (link.hostname !== window.location.hostname) {
        // Set the target to open in a new tab
        link.setAttribute('target', '_blank');
        link.setAttribute('rel', 'noopener noreferrer'); // Security best practice
      }
    });
  });
</script>
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/Allison-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/HelveticaNowText-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/Quarto-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/Quarto-Medium.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/HelveticaNowText-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/PPMonumentExtended-Black.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/PPMonumentExtended-Light.woff2" as="font" type="font/woff2" crossorigin>
<style>
  @font-face {
    font-family: 'PP Monument Extended';
    src: url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/PPMonumentExtended-LightItalic.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/PPMonumentExtended-LightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'PP Monument Extended';
    src: url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/PPMonumentExtended-Light.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/PPMonumentExtended-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PP Monument Extended';
    src: url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/PPMonumentExtended-BlackItalic.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/PPMonumentExtended-BlackItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'PP Monument Extended';
    src: url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/PPMonumentExtended-Black.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/PPMonumentExtended-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PP Monument Extended';
    src: url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/PPMonumentExtended-Regular.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/PPMonumentExtended-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Quarto';
    src: url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/Quarto-Regular.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/Quarto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNowText';
    src: url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/HelveticaNowText-Regular.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/HelveticaNowText-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNowText';
    src: url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/HelveticaNowText-Medium.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/HelveticaNowText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNowText';
    src: url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/HelveticaNowText-Bold.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/HelveticaNowText-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PP Monument Extended';
    src: url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/PPMonumentExtended-RegularItalic.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/PPMonumentExtended-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Quarto';
    src: url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/Quarto-Semibold.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/Quarto-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Quarto';
    src: url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/Quarto-Medium.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/Quarto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Quarto';
    src: url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/Quarto-Bold.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/Quarto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Allison';
    src: url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/Allison-Regular.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0583/8415/4690/files/Allison-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
</style>
    
</head>

<body class="{{ request.page_type | prepend: 'page-type-' }} {{ template }}">
  <a class="visually-hidden-focusable" href="#main">
    {{ 'general.accessibility.skip_content' | t }}
  </a>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KH7XJXJP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  <div class="main-wrapper">
    
    <div id="header-group" class="sticky-top">
      {% sections 'header-group' %}
    </div>
  
    <main id="main">
      {{ content_for_layout }}
    </main>
  
    <div id="footer-group">
      {% sections 'footer-group' %}
    </div>
  </div>

  {% liquid
    render 'offcanvas-cart'
    render 'offcanvas-search'
    render 'modal-localization'
    render 'rich-snippets'
  %}


</body>
</html>
    