<div class="story-area" style="background-color: #ee3124">
    <div class="background-hero-image position-absolute 100-vh" style="top: 0; left: 0; width: 100%;">
      <img src="{{ 'fb__hero-background.jpg' | asset_url }}" alt="A dramatic hero image showing the range of Flavour Bombs with delicious food." class="w-100" style="object-position: center; object-fit: cover; min-height: calc(100vh);">
      <video src="https://cdn.shopify.com/videos/c/o/v/a8c5027ebae343cfa619ef986130ecd2.mp4" autoplay="" muted="" loop="" playsinline="" class="w-100" style="position: absolute; top: 0; left: 0; width: 100%; object-position: center; object-fit: cover; min-height: calc(100vh); pointer-events:none;"></video>
    </div>


    {% if section.settings.shape_1 != blank %}
        <img src="{{ section.settings.shape_1 | image_url }}" alt="image" class="story_shape_1">
    {% endif %}
    {% if section.settings.shape_2 != blank %}
        <img src="{{ section.settings.shape_2 | image_url }}" alt="image" class="story_shape_2">
    {% endif %}
    {% if section.settings.shape_3 != blank %}
        <img src="{{ section.settings.shape_3 | image_url }}" alt="image" class="story_shape_3">
    {% endif %}
    {% if section.settings.shape_4 != blank %}
        <img src="{{ section.settings.shape_4 | image_url }}" alt="image" class="story_shape_4">
    {% endif %}

    {% for block in section.blocks %}
      {% if block.type == "content" %}
        {% if block.settings.style == "style-1" %}
          <section class="content-area {% if block.settings.remove_space %}pt-0{% else %}pt_220{% endif %}" style="background-color: #ee3124">
              <div class="container">
                  <div class="row align-items-lg-center">
                      <div class="col-sm-6">
                          <div class="content-img">
                              {% if block.settings.image != blank %}
                                  <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="mx_700">
                              {% endif %}
                          </div>
                      </div>
                      <div class="col-sm-6" style="background-color: #ee3124">
                          <div class="content-text">
                              {% if block.settings.tagline != blank %}
                                  <span class="d-block text_white sub_heading">{{ block.settings.tagline }}</span>
                              {% endif %}
                              {% if block.settings.heading != blank %}
                                  <{% if block.settings.header_tag == true %}h2{% else %}h1{% endif %} class="heading text_white h1">{{ block.settings.heading }}</{% if block.settings.header_tag == true %}h2{% else %}h1{% endif %}>
                              {% endif %}
                              {% if block.settings.bquote != blank %}
                                  <blockquote>{{ block.settings.bquote }}</blockquote>
                              {% endif %}
                              {% if block.settings.description != blank %}
                                {{ block.settings.description }}
                              {% endif %}
                              {% if block.settings.cta_link != blank and block.settings.cta_text != blank %}
                                  <a href="{{ block.settings.cta_link }}" class="cta_btn btn_default">{{ block.settings.cta_text }} <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/arrow-right-white.svg" alt="icon"></a>
                              {% endif %}
                                                <iframe src="https://control.mailblaze.com/index.php/lists/cf9560mzx5bba/brand/ms7834nj1r1d4/subscribe?output=embed&width=600&height=400" width="100%" height="400" frameborder="0" scrolling="no" style = "paading:0"></iframe>

                          </div>
                      </div>
                  </div>
              </div>
          </section>      
        {% elsif block.settings.style == "style-2" %}
          <section class="content-area pt-0" style="background-color: #ee3124">
              <div class="container">
                  <div class="row align-items-lg-center">
                      <div class="col-sm-6 order-sm-2 order-1">
                          <div class="content-img">
                              {% if block.settings.image != blank %}
                                  <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}" class="mx_700_right">
                              {% endif %}                        
                          </div>
                      </div>
                      <div class="col-sm-6 order-sm-1 order-2">
                          <div class="content-text">
                              {% if block.settings.tagline != blank %}
                                  <span class="d-block text_light sub_heading">{{ block.settings.tagline }}</span>
                              {% endif %}
                              {% if block.settings.heading != blank %}
                                  <{% if block.settings.header_tag == true %}h2{% else %}h1{% endif %} class="heading text_light h1">{{ block.settings.heading }}</{% if block.settings.header_tag == true %}h2{% else %}h1{% endif %}>
                              {% endif %}
                              {% if block.settings.bquote != blank %}
                                  <blockquote>{{ block.settings.bquote }}</blockquote>
                              {% endif %}
                              {% if block.settings.description != blank %}
                                {{ block.settings.description }}
                              {% endif %}
                              {% if block.settings.cta_link != blank and block.settings.cta_text != blank %}
                                  <a href="{{ block.settings.cta_link }}" class="cta_btn btn_default">{{ block.settings.cta_text }} <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/arrow-right-white.svg" alt="icon"></a>
                              {% endif %}   
                                                <iframe src="https://control.mailblaze.com/index.php/lists/cf9560mzx5bba/brand/ms7834nj1r1d4/subscribe?output=embed&width=600&height=570" width="100%" height="350" frameborder="0" scrolling="no"></iframe>

                          </div>
                      </div>
                  </div>
              </div>
          </section>      
        {% elsif block.settings.style == "style-3" %}
          <section class="content-area relative pt-0" style="background-color: #ee3124">
              {% if block.settings.image != blank %}
                  <div class="half_bg d-none d-lg-block" style="background: url({{ block.settings.image | image_url }}) no-repeat scroll center center /cover"></div>
              {% endif %}         
              <div class="container">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="content-img d-lg-none">
                              {% if block.settings.image != blank %}
                                  <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt | escape }}">
                              {% endif %}                           
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="content-text ps-lg-5">
                            {% if block.settings.tagline != blank %}
                                <span class="d-block text_light sub_heading">{{ block.settings.tagline }}</span>
                            {% endif %}
                            {% if block.settings.heading != blank %}
                                <h1 class="heading text_light">{{ block.settings.heading }}</h1>
                            {% endif %}
                            {% if block.settings.bquote != blank %}
                                <blockquote>{{ block.settings.bquote }}</blockquote>
                            {% endif %}
                            {% if block.settings.description != blank %}
                              {{ block.settings.description }}
                            {% endif %}
                            {% if block.settings.cta_link != blank and block.settings.cta_text != blank %}
                                <a href="{{ block.settings.cta_link }}" class="cta_btn btn_default">{{ block.settings.cta_text }} <img src="assets/img/arrow-right-white.svg" alt="icon"></a>
                            {% endif %}
                                                <iframe src="https://control.mailblaze.com/index.php/lists/cf9560mzx5bba/brand/ms7834nj1r1d4/subscribe?output=embed&width=600&height=570" width="100%" height="350" frameborder="0" scrolling="no"></iframe>

                          </div>
                      </div>
                  </div>
              </div>
          </section>      
                 {% endif %}
       {% elsif block.type == "video" %}
         <section class="video-area" style="background-color: #ee3124">
           <div class="container">
             <div class="row justify-content-center">
               <div class="col-lg-8">
                 {% if block.settings.heading != blank %}
                   <div class="text-center mb-4">
                     <h2 class="heading text_light">{{ block.settings.heading }}</h2>
                   </div>
                 {% endif %}
                 {% if block.settings.youtube_id != blank %}
                   <div class="video-container">
                     <div class="ratio ratio-16x9">
                       <iframe 
                         src="https://www.youtube.com/embed/{{ block.settings.youtube_id }}?rel=0" 
                         title="YouTube video player" 
                         frameborder="0" 
                         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                         allowfullscreen>
                       </iframe>
                     </div>
                   </div>
                 {% endif %}
                 {% if block.settings.description != blank %}
                   <div class="text-center mt-4">
                     <div class="text_light">{{ block.settings.description }}</div>
                   </div>
                 {% endif %}
               </div>
             </div>
           </div>
         </section>
       {% endif %}
     {% endfor %}
  
</div>

{% schema %}
{
  "name": "Competition Header Red",
  "settings": [
    {
      "type": "image_picker",
      "id": "shape_1",
      "label": "Sketch 1"
    },
    {
      "type": "image_picker",
      "id": "shape_2",
      "label": "Sketch 2"
    },
    {
      "type": "image_picker",
      "id": "shape_3",
      "label": "Sketch 3"
    },
    {
      "type": "image_picker",
      "id": "shape_4",
      "label": "Sketch 4"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Content",
      "settings": [
        {
          "type": "select",
          "id": "style",
          "label": "Style",
          "options": [
            {
              "value": "style-1",
              "label": "Style 1"
            },
            {
              "value": "style-2",
              "label": "Style 2"
            },
            {
              "value": "style-3",
              "label": "Style 3"
            }
          ],
          "default": "style-1"
        },       
        {
          "type": "checkbox",
          "id": "remove_space",
          "label": "Remove Top Space",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },        
        {
          "type": "text",
          "id": "tagline",
          "label": "Tagline",
          "default": "Enter -"
        },        
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "checkbox",
          "id": "header_tag",
          "default": false,
          "label": "Header Tag - H2",
        },
        {
          "type": "textarea",
          "id": "bquote",
          "label": "Blockquote"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Content"
        },        
        {
          "type": "text",
          "id": "cta_text",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "Button Link"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "youtube_id",
          "label": "YouTube Video ID",
          "info": "Enter the YouTube video ID (e.g., 'dQw4w9WgXcQ' from https://www.youtube.com/watch?v=dQw4w9WgXcQ)"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Competition Header Red",
      "category": "Custom"
    }
  ]
}
{% endschema %}