<!-- Content Start -->
<section class="content-area contact-form-area pb-0">
  <div class="container">
    <div class="c_form_inner">
      <div class="row align-items-lg-end">
        <div class="col-sm-6">
          <div class="content-text pe-lg-5">

            {% if section.settings.sub_heading != blank %}
              <span class="d-block sub_heading">{{ section.settings.sub_heading }}</span>
            {% endif %}

            {% if section.settings.heading != blank %}
              <h2 class="heading">{{ section.settings.heading }}</h2>
            {% endif %}

            <div class="c_info">
              <div class="row">
                {% if section.settings.phone_number != blank %}
                <div class="col-lg-4 col-6">
                  <div class="c_info_widget">
                    <span class="d-block title">NUMBER</span>
                    <a href="tel:{{ section.settings.phone_number }}">{{ section.settings.phone_number }}</a>
                  </div>
                </div>
                {% endif %}

                {% if section.settings.email_address != blank %}
                <div class="col-lg-4 col-6">
                  <div class="c_info_widget">
                    <span class="d-block title">E-MAIL</span>
                    <a href="mailto:{{ section.settings.email_address }}">{{ section.settings.email_address }}</a>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>

            <div class="c_info">
              <div class="row">
                {% if section.settings.physical_address != blank %}
                <div class="col-sm-7">
                  <div class="c_info_widget">
                    <span class="d-block title">PHYSICAL ADDRESS</span>
                    {{ section.settings.physical_address }}
                  </div>
                </div>
                {% endif %}

                {% if section.settings.postal_address != blank %}
                <div class="col-sm-5">
                  <div class="c_info_widget">
                    <span class="d-block title">POSTAL ADDRESS</span>
                    {{ section.settings.postal_address }}
                  </div>
                </div>
                {% endif %}
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-6">
          <div class="c_form ps-lg-5">

            {% form 'contact' %}
            <ul class="row">
            <li class="col-sm-6">
            <input 
            id="contact-form-name"
            type="text" 
            name="contact[name]"
            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"  
            placeholder="{{ 'general.contact_form.name' | t }}"
            required>
            <label for="contact-form-name" class="d-none">
            {{ 'general.contact_form.name' | t }}
            </label>
            </li>
            <li class="col-sm-6">
            <input 
            id="contact-form-email"
            type="email" 
            name="contact[email]"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"  
            placeholder="{{ 'general.contact_form.email' | t }}"
            spellcheck="false"
            autocapitalize="off"
            required>
            <label for="contact-form-email" class="d-none">
            {{ 'general.contact_form.email' | t }}
            </label>
            </li>
            <li class="col-sm-6">
            <input 
            id="contact-form-phone"
            type="tel" 
            name="contact[phone]"
            value="{{ customer.phone }}"  
            placeholder="{{ 'general.contact_form.phone' | t }}"
            pattern="[0-9\-]*"
            autocomplete="tel">
            <label for="contact-form-phone" class="d-none">
            {{ 'general.contact_form.phone' | t }}
            </label>
            </li>
            <li class="col-sm-6">
                <input 
                id="contact-form-suburb"
                type="text" 
                name="contact[suburb]"
                placeholder="SUBURB"
                required>
                <label for="contact-form-suburb" class="d-none">Suburb</label>
            </li>    
            <li class="col-sm-12">
                <input 
                id="contact-form-province"
                type="text" 
                name="contact[province]"
                placeholder="PROVINCE"
                required>
                <label for="contact-form-province" class="d-none">Province</label>
            </li>    
            <li class="col-sm-12">
                <select 
                id="contact-form-enquiry"
                name="contact[enquiry]"
                required>
                    <option value="" disabled selected>SELECT THE NATURE OF YOUR ENQUIRY</option>
                	<option value="Customer care">Customer Care</option>
                	<option value="Export enquiries">Export Enquiries</option>
                	<option value="General enquiries">General Enquiries</option>
                	<option value="Online Order Enquiries">Online Order Enquiries</option>
                	<option value="Factory Shop Enquiries">Factory Shop Enquiries</option>
                	<option value="Recipe Advice">Recipe Advice</option>
                	<option value="Sales Enquiries">Sales Enquiries</option>
                	<option value="Website &amp; Newsletter">Website &amp; Newsletter</option>                  
                </select>
                <label for="contact-form-enquiry" class="d-none">Nature of Enquiry</label>
            </li>
             
            <li class="col-sm-12">
            <textarea
            id="contact-form-message"
            name="contact[message]"
            value="{{ customer.phone }}"  
            placeholder="{{ 'general.contact_form.message' | t }}"
            required
            >
            {{- form.body -}}
            </textarea>
            <label for="contact-form-message"  class="d-none">
            {{ 'general.contact_form.message' | t }}
            </label>
            </li>
            </ul>
            <button type="submit" class="cta_btn contact-btn btn_border_default">SUBMIT</button>
            
            {% if form.posted_successfully? %}
            <p class="mt-3 text-center">
            {{ 'general.contact_form.success' | t }}
            </p>
            {% endif %}
            {{ form.errors | default_errors }}
            
            {% endform %}
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content End -->

{% schema %}
{
  "name": "Contact",
  "settings": [
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Tagline",
      "default": "Contact Details -"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Ina Paarman"
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Contact Number",
      "default": "+27 (0)21 705 6440/1"
    },
    {
      "type": "text",
      "id": "email_address",
      "label": "E-Mail Address",
      "default": "ina@paarman.co.za"
    },
    {
      "type": "richtext",
      "id": "physical_address",
      "label": "Physical Address"
    },
    {
      "type": "richtext",
      "id": "postal_address",
      "label": "Postal Address"
    }
  ],
  "presets": [
    {
      "name": "Contact",
      "category": "Custom"
    }
  ]
}
{% endschema %}