{% if section.settings.header_style == 'style2' %}

<!-- Content Start -->
<section class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="text-center mb-lg-5">
                  {% if section.settings.blog_sub_heading != blank %}
                      <span class="d-block sub_heading">{{ section.settings.blog_sub_heading }}</span>
                  {% endif %}
                  
                  {% if section.settings.blog_title != blank %}
                      <h2 class="heading">{{ section.settings.blog_title }}</h2>
                  {% endif %}                  
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            {% if section.settings.show_featured %}
                {% assign featured_count = 0 %}
                {% for article in blogs.news.articles %} 
                    {% if article.tags contains "Featured" and featured_count < 3 %}
                        {% assign featured_count = featured_count | plus: 1 %}
                        <div class="col-md-4 col-sm-6">
                            <a href="{{ article.url }}" class="blog-box">
                                <div class="image">
                                    {% if article.image %}
                                        <img src="{{ article.image | image_url }}" alt="{{ article.title }}" height="406" width = "406" loading="lazy">
                                    {% else %}
                                        <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/blog-thumbnail.jpg" alt="{{ article.title }}" height="406" width = "406" loading="lazy">
                                    {% endif %}
                                </div>
                                <div class="text">
                                    <div class="text__wrap">
                                      <h4 class="h3"><strong>{{ article.title }}</strong></h4>
                                      <p>{{ article.excerpt | strip_html | truncate: 180 }}</p>
                                    </div>
                                    <span class="cta_btn btn_border_default">READ MORE</span>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}

            {% else %}
          
            {% for article in blogs.news.articles limit: 3 %} 
                <div class="col-md-4 col-sm-6">
                    <a href="{{ article.url }}" class="blog-box">
                        <div class="image blog-img">
                            {% if article.image %}
                                <img src="{{ article.image | image_url }}" alt="{{ article.title }}" height="406" width = "406" loading="lazy">
                            {% else %}
                                <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/blog-thumbnail.jpg" alt="{{ article.title }}" height="406" width = "406" loading="lazy" >
                            {% endif %}
                        </div>
                        <div class="text">
                            <div class="text__wrap">
                              <h4 class="h3"><strong>{{ article.title }}</strong></h4>
                              <p>{{ article.excerpt | strip_html | truncate: 180 }}</p>
                            </div>
                            <span class="cta_btn btn_border_default">READ MORE</span>
                        </div>
                    </a>
                </div>
            {% endfor %}

            {% endif %}
              {% if section.settings.all_articles_button_text != blank %}
        <div class="text-center section_action">
           <a href="{{ section.settings.all_articles_button_link }}" class="cta_btn btn_default">
              {{ section.settings.all_articles_button_text }} <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/arrow-right-white.svg" alt="icon">
           </a>
        </div>
        {% endif %}
        </div>
    </div>
</section>
<!-- Content End -->
  
{% else %}

<!-- Content Start -->
<section class="blog-area pt-0">
    {% if section.settings.blog_shape_image %}
        <img src="{{ section.settings.blog_shape_image | image_url }}" alt="image" class="blog_shape">
    {% endif %}  
  
    <div class="container">
        <div class="text-center">
            {% if section.settings.blog_sub_heading != blank %}
                <span class="d-block sub_heading">{{ section.settings.blog_sub_heading }}</span>
            {% endif %}
            
            {% if section.settings.blog_title != blank %}
                <h3 class="heading">{{ section.settings.blog_title }}</h3>
            {% endif %}
        </div>

        <div class="three-column-slider alt">
            {% if section.settings.show_featured %}
              
            {% for article in blogs.news.articles limit: 3 %} 
                {% if article.tags contains "Featured" %}
                <div class="slide dd">
                    <a href="{{ article.url }}" class="blog-box">
                        <div class="image">
                            {% if article.image %}
                                <img src="{{ article.image | image_url }}" alt="{{ article.title }}">
                            {% else %}
                                <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/blog-thumbnail.jpg" alt="{{ article.title }}">
                            {% endif %}
                        </div>
                        <div class="text">
                            <h4 class="h3"><strong>{{ article.title }}</strong></h4>
                            <p>{{ article.excerpt | strip_html | truncate: 180 }}</p>
                            <span class="cta_btn btn_border_default">READ MORE</span>
                        </div>
                    </a>
                </div>
               {% endif %}
            {% endfor %}

            {% else %}
          
            {% for article in blogs.news.articles limit: 4 %} 
                <div class="slide dd">
                    <a href="{{ article.url }}" class="blog-box">
                        <div class="image">
                            {% if article.image %}
                                <img src="{{ article.image | image_url }}" alt="{{ article.title }}">
                            {% else %}
                                <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/blog-thumbnail.jpg" alt="{{ article.title }}">
                            {% endif %}
                        </div>
                        <div class="text">
                            <h4 class="h3"><strong>{{ article.title }}</strong></h4>
                            <p>{{ article.excerpt | strip_html | truncate: 180 }}</p>
                            <span class="cta_btn btn_border_default">READ MORE</span>
                        </div>
                    </a>
                </div>
            {% endfor %}

            {% endif %}

        </div>

        {% if section.settings.all_articles_button_text != blank %}
        <div class="text-center section_action">
           <a href="{{ section.settings.all_articles_button_link }}" class="cta_btn btn_default">
              {{ section.settings.all_articles_button_text }} <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/arrow-right-white.svg" alt="icon">
           </a>
        </div>
        {% endif %}
    </div>
</section>
<!-- Content End -->

{% endif %}


{% schema %}
{
  "name": "Featured Blog Posts",
  "settings": [
    {
      "type": "select",
      "id": "header_style",
      "label": "Style",
      "options": [
        {
          "value": "style1",
          "label": "Slider Slide"
        },
        {
          "value": "style2",
          "label": "Grid Style"
        }
      ],
      "default": "style1"
    },
    {
      "type": "checkbox",
      "id": "show_featured",
      "label": "Show only featured posts",
      "default": true
    },
    {
      "type": "image_picker",
      "label": "Shape Image",
      "id": "blog_shape_image"
    },    
    {
      "type": "text",
      "label": "Tagline",
      "id": "blog_sub_heading",
      "default": "- Blog -"
    },
    {
      "type": "text",
      "label": "Heading",
      "id": "blog_title",
      "default": "Great Food, Great Living"
    },
    {
      "type": "text",
      "label": "Link Text",
      "id": "all_articles_button_text"
    },
    {
      "type": "url",
      "label": "Link URL",
      "id": "all_articles_button_link"
    },
  ],
  "presets": [
    {
      "name": "Featured Blog Posts",
      "category": "Custom"
    }
  ]
}  
{% endschema %}