{% liquid
  assign variants_json = product.variants | json
%}
<!-- Content Start -->
<section class="product-details-area">
    <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/recipe-banner-shape.png" alt="image" class="product_details_shape" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <ul class="product_social">
                    <li>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ product.url }}" target="_blank">
                            <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/facebook-green.svg" alt="Facebook">
                        </a>
                    </li>                    
                    <li>
                        <a href="https://www.instagram.com/?url={{ shop.url }}{{ product.url }}" target="_blank">
                            <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/instagram-green.svg" alt="Instagram">
                        </a>
                    </li>                    
                    <li>
                        <a href="https://twitter.com/intent/tweet?url={{ shop.url }}{{ product.url }}&text={{ product.title }}" target="_blank">
                            <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/twitter-green.svg" alt="Twitter">
                        </a>
                    </li>                    
                    <li>
                        <a href="https://pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&media={{ product.featured_image | img_url: '1024x1024' }}&description={{ product.title }}" target="_blank">
                            <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/pinterest-green.svg" alt="Pinterest">
                        </a>
                    </li>                    
                    <li>
                        <a href="mailto:?subject={{ product.title }}&body=Check out this product: {{ shop.url }}{{ product.url }}" target="_blank">
                            <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/email-green.svg" alt="Email">
                        </a>
                    </li>
                </ul>          
                <div class="product-single-box">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="half_bg">      
                                <div>
                                {% if product.images.size > 0 %}
                                <div class="product-slider">
                                    {% for image in product.images %}
                                        <div class="ps-slide"><img src="{{ image | image_url }}" alt="{{ product.title }}"></div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="product-details">
                                <div class="content">
                                     {% assign product_category = product.metafields.custom.product_category %}
                                     <span class="d-block sub_heading"> {{ product_category }}  </span>
                                    {% if product.title != blank %}
                                        <h1 class="h1"><strong>{{ product.title }}</strong></h1>
                                    {% endif %}

                                    <div class="variant-meta-info">
                                    {% for variant in product.variants %}
                                        {% assign weight_metafield = variant.metafields.custom.weight %}
                                        {% assign volume_metafield = variant.metafields.custom.volume %}
                                        {% assign units_metafield = variant.metafields.custom.units %}
                                        {% assign dimensions_metafield = variant.metafields.custom.dimensions %}
                                        {% if weight_metafield != blank %}
                                            {% assign weight_value = weight_metafield.value %}
                                            {% assign weight_unit = weight_metafield.unit %}
                                            <div class="variantmetagrams">{{ weight_value }} {{ weight_unit }}</div>
                                        {% endif %}
                                        {% if volume_metafield != blank %}    
                                            {% assign volume_value = volume_metafield.value %}
                                            {% assign volume_unit = volume_metafield.unit %}
                                          <div class="variantmetagrams">{{ volume_value }} {{ volume_unit }}</div>
                                        {% endif %}
                                        {% if units_value != blank %}
                                            {% assign units_value = units_metafield.value %}
                                            {% assign units_unit = units_metafield.unit %}
                                            <div class="variantmeta">{{ units_value }} Units</div>
                                        {% endif %}
                                        {% if dimensions_value != blank %}
                                            {% assign dimensions_value = dimensions_metafield.value %}
                                            {% assign dimensions_unit = dimensions_metafield.unit %}
                                          <div class="variantmeta">{{ dimensions_value }} {{ dimensions_unit }}</div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>    
                                    {% if product.description != blank %}
                                        {{ product.description }}
                                    {% endif %}
                                </div>
                                {% if product.variants.first.sku != blank %}
                                    <span class="d-block sku"><strong>SKU:</strong> {{ product.variants.first.sku }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content End -->
{% if product.metafields.custom.ingredients.value %}
<!-- Content Start -->
<section class="content-area pt_40 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="product_tabs">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">                 
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="p1-tab" data-bs-toggle="tab" data-bs-target="#p1" type="button" role="tab" aria-controls="p1" aria-selected="true"><span class="product-tabtext">Ingredients</span></button>
                        </li>                         
                        {% if product.metafields.custom.nutritional-info.value %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="p2-tab" data-bs-toggle="tab" data-bs-target="#p2" type="button" role="tab" aria-controls="p2" aria-selected="false"><span class="product-tabtext">Nutritional Info</span></button>
                        </li>
                        {% endif %}                        
                        {% if product.metafields.custom.allergens.value %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="p3-tab" data-bs-toggle="tab" data-bs-target="#p3" type="button" role="tab" aria-controls="p3" aria-selected="false"><span class="product-tabtext">Allergens</span></button>
                        </li>
                        {% endif %}    
                      {% if product.metafields.custom.additional-info.value %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="p4-tab" data-bs-toggle="tab" data-bs-target="#p4" type="button" role="tab" aria-controls="p4" aria-selected="false"><span class="product-tabtext">Dietary Info</span></button>
                        </li>                          
                        {% endif %}
                      {% if product.metafields.custom.additional-dietary-info-text.value %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="p5-tab" data-bs-toggle="tab" data-bs-target="#p5" type="button" role="tab" aria-controls="p5" aria-selected="false"><span class="product-tabtext">Dietary Info</span></button>
                        </li>                          
                        {% endif %}
                        {% if product.metafields.custom.additional-ingredients-required.value %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="p6-tab" data-bs-toggle="tab" data-bs-target="#p6" type="button" role="tab" aria-controls="p6" aria-selected="false"><span class="product-tabtext">Ingredients Required</span></button>
                        </li>                          
                        {% endif %}  
                        {% if product.metafields.custom.equipment-required.value %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="p7-tab" data-bs-toggle="tab" data-bs-target="#p7" type="button" role="tab" aria-controls="p7" aria-selected="false"><span class="product-tabtext">Equipment Required</span></button>
                        </li>                          
                        {% endif %}  
                        {% if product.metafields.custom.temperature-duration.value %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="p8-tab" data-bs-toggle="tab" data-bs-target="#p8" type="button" role="tab" aria-controls="p8" aria-selected="false"><span class="product-tabtext">Temperature & Duration</span></button>
                        </li>                          
                        {% endif %}  
                        {% if product.metafields.custom.instructions.value %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="p9-tab" data-bs-toggle="tab" data-bs-target="#p9" type="button" role="tab" aria-controls="p9" aria-selected="false"><span class="product-tabtext">Instructions</span></button>
                        </li>                          
                        {% endif %}
                    </ul>             
                    <div class="tab-content" id="myTabContent">
                        {% if product.metafields.custom.ingredients.value %}
                        <div class="tab-pane fade show active" id="p1" role="tabpanel" aria-labelledby="p1-tab">
                            <div class="product-tab-content">
                              {% if product.metafields.custom.ingredients %}
                                  <div class="product-ingredients">
                                      {% assign ingredients = product.metafields.custom.ingredients.value %}
                                      {% for ingredient in ingredients %}
                                          <li><span class="red_bullets"></span> {{ ingredient }}</li>
                                      {% endfor %}
                                  </div>
                              {% endif %}
                            </div>
                        </div>
                        {% endif %}                    
                        {% if product.metafields.custom.nutritional-info.value %}
                        <div class="tab-pane fade" id="p2" role="tabpanel" aria-labelledby="p2-tab">
                            <div class="product-tab-content">
                                {% if product.metafields.custom.nutritional-info %}
                                    <img src="{{ product.metafields.custom.nutritional-info.value | image_url }}" alt="Nutritional Info">
                                {% endif %}                              
                            </div>
                        </div>
                        {% endif %}                        
                        {% if product.metafields.custom.allergens.value %}
                        <div class="tab-pane fade" id="p3" role="tabpanel" aria-labelledby="p3-tab">
                            <div class="product-tab-content">
                              {% if product.metafields.custom.allergens %}
                                  <ul>
                                      {% assign allergens = product.metafields.custom.allergens.value %}
                                      {% for allergen in allergens %}
                                          <li><span class="red_bullets"></span> {{ allergen }}</li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}
                            </div>
                        </div>
                        {% endif %}     
                      {% if product.metafields.custom.additional-info.value %}
                        <div class="tab-pane fade" id="p4" role="tabpanel" aria-labelledby="p4-tab">
                            <div class="product-tab-content">
                              {% if product.metafields.custom.additional-info %}
                                  <ul>
                                      {% assign info = product.metafields.custom.additional-info.value %}
                                      {% for info in info %}
                                          <li><span class="red_bullets"></span> {{ info }}</li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}
                            </div>
                        </div>
                        {% endif %} 
                      {% if product.metafields.custom.additional-dietary-info-text.value %}
                        <div class="tab-pane fade" id="p5" role="tabpanel" aria-labelledby="p5-tab">
                            <div class="product-tab-content">
                             {{ product.metafields.custom.additional-dietary-info-text | metafield_tag }}
                              </div>
                        </div>                      
                        {% endif %} 
                            </div>
                        </div>
                        {% endif %} 
                        {% if product.metafields.custom.additional-ingredients-required.value %}
                        <div class="tab-pane fade" id="p6" role="tabpanel" aria-labelledby="p6-tab">
                            <div class="product-tab-content">
                                {% if product.metafields.custom.additional-ingredients-required %}
                                  <ul>
                                        {% assign ingredients = product.metafields.custom.additional-ingredients-required.value %}
                                        {% for ingredient in ingredients %}
                                            <li><span class="red_bullets"></span> {{ ingredient }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}                              
                            </div>
                        </div>                        
                        {% endif %}  
                        {% if product.metafields.custom.equipment-required.value %}
                        <div class="tab-pane fade" id="p7" role="tabpanel" aria-labelledby="p7-tab">
                            <div class="product-tab-content">
                              {% if product.metafields.custom.equipment-required %}
                                  <ul>
                                      {% assign equipment = product.metafields.custom.equipment-required.value %}
                                      {% for item in equipment %}
                                          <li><span class="red_bullets"></span> {{ item }}</li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}
                            </div>
                        </div>                       
                        {% endif %}  
                        {% if product.metafields.custom.temperature-duration.value %}
                        <div class="tab-pane fade" id="p8" role="tabpanel" aria-labelledby="p8-tab">
                            <div class="product-tab-content">
                              {% if product.metafields.custom.temperature-duration %}
                                  <ul>
                                      {% assign temperature_duration = product.metafields.custom.temperature-duration.value %}
                                      {% for item in temperature_duration %}
                                          <li><span class="red_bullets"></span> {{ item }}</li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}                              
                            </div>
                        </div>                      
                        {% endif %}  
                        {% if product.metafields.custom.instructions.value %}
                        <div class="tab-pane fade" id="p9" role="tabpanel" aria-labelledby="p9-tab">
                            <div class="product-tab-content">
                                {{ product.metafields.custom.instructions | metafield_tag }}
                            </div>
                        </div>                      
                        {% endif %} 
                    </div>
                </div>
             </div>
</div>
</div>            </div>
          </div>
        </div>
    </div>
</section>
<!-- Content End -->
{% if product.metafields.custom.tablepress != blank %}
<section class="product-table pt-5 pb-0">
  <div class="container">
    {{ product.metafields.custom.tablepress.value }}
  </div>
</section>
{% endif %}
{% assign video_urls = product.metafields.custom.video.value %}
{% assign youtube_id = product.metafields.custom.youtube_id %}
{% if youtube_id %}
  <section class="pt-5 pb-0">
  <div class="container">  
      <div class="text-center mb-4">
        <h4 class="h2"><strong>Video</strong></h4>
      </div>
      <div class="row">
        <div class="col-lg-10 mx-auto">    
            {% assign video_url = video_urls[0] | to_s %}
            {% assign video_id = video_url | split: "v=" | last | split: "&" | first %}
              <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/{{ youtube_id }}?rel=0" title="YouTube video" frameborder="0" allowfullscreen></iframe>
              </div>              
       </div>
      </div>
  </div>
</section>
{% endif %}
{% if product.metafields.custom.video-embed.value != blank %}
  <section class="pt-5 pb-0">
    <div class="container">  
        <div class="text-center mb-4">
          <h4 class="h2"><strong>Video</strong></h4>
        </div>
        <div class="row">
          <div class="col-lg-10 mx-auto">    
             <div class="ratio ratio-16x9">
                {{ product.metafields.custom.video-embed.value }}                  
             </div>
          </div>
        </div>
    </div>
  </section>  
{% endif %}
{% if section.settings.show_related_recipes %}
<!-- Content Start -->
<section class="content-area pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h3 class="text-center h1"><strong>Related Recipes</strong></h3>
                <div class="related-recipe-slider">
                    {% assign related_recipes = blogs.recipes.articles %}  
                    {% if related_recipes.size > 0 %}
                        {% for article in related_recipes %}
                            {% if article.title contains product.title or article.tags contains product.title %}
                                <div class="slide">
                                    <a href="{{ article.url }}" class="recipe-gallery">
                                        <img src="{{ article.featured_image | img_url: '1024x1024' }}" alt="image">
                                        <span class="d-block title">{{ article.title }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="slide">
                            <p>No related recipes found.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content End -->
{% endif %}
{% if section.settings.show_related_productss %}
<!-- Content Start -->
<section class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                {% if section.settings.heading != blank %}
                  <h3 class="text-center h1"><strong>{{ section.settings.heading }}</strong></h3>
                {% endif %}
                <div class="related-recipe-slider">
                    {% assign related_products = product.metafields.custom.related-products.value %}                   
                    {% if related_products %}
                        <!-- Custom Related Products -->
                        {% for related_product in related_products %}
                            <div class="slide">
                                <a href="{{ shop.url | append: '/products/' | append: related_product.handle }}" class="related-product">
                                    <img src="{{ related_product.featured_image | img_url: '500x' }}" alt="{{ related_product.title }}">
                                    <span class="d-block title">{{ related_product.title }}</span>
                                </a>
                            </div>
                        {% endfor %}                   
                    {% else %}
                        <!-- Default Related Products (Fallback) -->
                        {% assign default_related_products = collections['all'].products | limit: 4 %}
                        {% for product in default_related_products %}
                            <div class="slide">
                                <a href="{{ shop.url | append: '/products/' | append: product.handle }}" class="related-product">
                                    <img src="{{ product.featured_image | img_url: '500x' }}" alt="{{ product.title }}">
                                    <span class="d-block title">{{ product.title }}</span>
                                    <span class="d-block cta_btn btn_border_default">Shop Now</span>
                                </a>
                            </div>
                        {% endfor %}
                    
                    {% endif %}               
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content End -->
{% endif %}
{% schema %}
{
  "name": "Product Info",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_related_recipes",
      "label": "Show Related Recipes",
      "default": false
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Related Products Heading",
      "default": "Related Products"
    },
    {
      "type": "checkbox",
      "id": "show_related_productss",
      "label": "Show Related Products",
      "default": false
    }  
  ],
  "templates": ["product"],
  "presets": [
    {
      "name": "Product Info"
    }
  ]
}
{% endschema %}
