<section class="video-gallery pt-3">
  <div class="container">

    {% if section.settings.heading != blank %}
    <div class="row">
      <div class="col-12 text-start mb-4">
          <h4 class="h4 heading">{{ section.settings.heading }}</h4>
        </div>
      </div>
    {% endif %}
  
    <div class="row align-items-end">
        {% assign block_count = 0 %}
        {% for block in section.blocks %}
        
          {% if section.settings.sub_heading != blank %}
              <span class="d-block sub_heading">{{ section.settings.sub_heading }}</span>
            {% endif %}

          <div class="col-sm-6 col-md-4 mb-4">
              {% assign youtube_id = block.settings.youtube_id %}
              {% if block.settings.sub_heading != blank %}
                <h3 class="h4 text-start mt-2">{{ block.settings.sub_heading }}</h3>
              {% endif %}
              <div class="ratio ratio-16x9">
                <iframe
                  src="https://www.youtube.com/embed/{{ youtube_id }}?rel=0"
                  frameborder="0"
                  allowfullscreen>
                </iframe>
              </div>

              <a href="https://www.youtube.com/watch?v={{ youtube_id }}" target="_blank" class="text-start small text-secondary my-2 d-block">
                View full instructions on YouTube
              </a>
            </div>
        {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Video Gallery",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
      "type": "text",
      "id": "sub_heading",
      "label": "Video Title",
    },
        {
          "type": "text",
          "id": "youtube_id",
          "label": "YouTube Video ID",
          "info": "Enter the unique YouTube video ID (e.g., dQw4w9WgXcQ)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video Gallery",
      "category": "Custom"
    }
  ]
}
{% endschema %}