<!-- Content Start -->
<section class="recipe-banner-area menu-of-the-month-collection alt " style="background: url({{ section.settings.background_image | image_url }}) no-repeat scroll top center/cover">
    <img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/recipe-banner-shape.png" alt="image" class="recipe_shape">
</section>
<!-- Content End -->

<!-- content Start -->
<section class="banner-cta-area py-0">
    <div class="container">
        <div class="px-lg-5">
            <div class="inner alt text-center">
                <span class="d-block text_white sub_heading">— Updated weekly —</span>
                <h1 class="heading text_white">{{ page.title }}</h1>
                <ul class="banner-social">
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ page.url }}" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/fb-white.svg" alt="Share on Facebook"></a></li>
                    <li><a href="https://www.instagram.com/inapaarmanskitchen" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/instagram-white.svg" alt="Share on Instagram"></a></li>
                    <li><a href="https://twitter.com/intent/tweet?url={{ shop.url }}{{ page.url }}" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/x-white.svg" alt="Share on Twitter"></a></li>
                    <li><a href="https://pinterest.com/pin/create/button/?url={{ shop.url }}{{ page.url }}" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/pinterest-white.svg" alt="Share on Pinterest"></a></li>
                    <li><a href="mailto:?subject=Check out this recipe&body={{ shop.url }}{{ page.url }}"><img src="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/email-white.svg" alt="Share via Email"></a></li>
                </ul>    
            </div>
        </div>
    </div>
</section>
<!-- content End -->

<!-- Content Start -->
<section class="recipes-listing-area supper-box-area pt_40">
  <div class="container">
    <div class="px-lg-10">
      {{ page.content }}
      <div class="row" id="blog-container"></div>
    </div>
  </div>
</section>

<script>
  var blogTags = ['monday','tuesday','wednesday','thursday','friday','saturday'];
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function () {
  var SECTION_URL = '/?section_id=recipe-index';
  var postsByTag = {};
  var seenByTag = {};

  blogTags.forEach(function (tag) {
    postsByTag[tag] = [];
    seenByTag[tag] = new Set();
  });

  function fetchPage(pageNumber) {
    return $.get(SECTION_URL + '&page=' + pageNumber);
  }

  function collectItems($html) {
    $html.find('.ri-item').each(function () {
      var $item = $(this);
      var tag = $item.data('tag');
      if (blogTags.indexOf(tag) === -1) return;

      var url = $item.data('url');
      if (!url || seenByTag[tag].has(url)) return;
      seenByTag[tag].add(url);

      var title = $item.data('title');
      var image = $item.data('image');

      // Capitalize for display
      var displayTag = tag.charAt(0).toUpperCase() + tag.slice(1);

      var $post = $('<a>')
        .attr('href', url)
        .addClass('recipe-box-alt v2')
        .append($('<span>').addClass('d-block sub_heading').text(displayTag))
        .append($('<img>').attr({ src: image, alt: title, loading: 'lazy' }))
        .append($('<span>').addClass('d-block title').text(title));

      var $wrapped = $('<div>')
        .addClass('col-md-2 col-sm-4 col-6')
        .attr('data-tag', tag)
        .append($post);

      postsByTag[tag].push($wrapped);
    });
  }

  function appendInTagOrder() {
    var $container = $('#blog-container');
    blogTags.forEach(function (tag) {
      postsByTag[tag].forEach(function ($el) {
        $container.append($el);
      });
    });
  }

  // Page 1 first to discover pagination
  fetchPage(1).then(function (response) {
    var $html = $('<div>').html(response);
    var totalPages = parseInt($html.find('.ri-meta').data('pages'), 10) || 1;

    collectItems($html);

    if (totalPages <= 1) {
      appendInTagOrder();
      return;
    }

    var requests = [];
    for (var i = 2; i <= totalPages; i++) {
      requests.push(fetchPage(i));
    }

    $.when.apply($, requests).done(function () {
      var responses = requests.length === 1 ? [arguments] : Array.prototype.slice.call(arguments);
      responses.forEach(function (args) {
        collectItems($('<div>').html(args[0]));
      });
      appendInTagOrder();
    });
  }).fail(function (err) {
    console.error('Failed to load recipe index', err);
  });
});
</script>


        
{% schema %}
{
  "name": "Whats for Supper",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }    
  ],
  "presets": [
    {
      "name": "Whats for Supper",
      "category": "Custom"
    }
  ]
}
{% endschema %}