{% layout 'flavourbomb' %}

    <div id="header-group" class="sticky-top position-fixed w-100 bg-black">
    <nav class="navbar navbar-expand-md pt-0">

      <div class="mobile-menu__container d-flex d-md-none position-absolute top-0 start-0 w-100 vh-100">
        <div class="mobile-menu__content">
          <ul class="list-unstyled text-center">
            <li><a href="#what-is-it">WHAT IS IT?</a></li>
            <li><a href="#flavours">FLAVOURS</a></li>
            <li><a href="#explore-recipes">RECIPES</a></li>
            <li><a href="#how-it-works">HOW IT WORKS</a></li>
            <li><a href="#why-flavour-bomb">WHY FLAVOUR BOMB?</a></li>
          </ul>
        </div>
      </div>

      <div class="container-fluid container-fluid--max align-items-start" style="max-width: 1300px;">
        <!-- Left Navigation Links -->
        <div class="navbar-nav nav-left d-none d-md-flex w-100 gap-2 gap-lg-3 justify-content-center my-3 pt-2">
          <a class="nav-link" href="#what-is-it">WHAT IS IT?</a>
          <a class="nav-link" href="#flavours">FLAVOURS</a>
          <a class="nav-link" href="#explore-recipes">RECIPES</a>
        </div>
        
        <!-- Centered Logo -->
        <div class="navbar-brand logo-container pt-0">
          <div class="logo-image position-relative">
            <img src="{{ 'fb__logo.png' | asset_url }}" alt="Ina Paarman's Flavour Bombs Logo" class="position-absolute top-0 start-0 w-100">
          </div>
        </div>
        
        <!-- Right Navigation Links -->
        <div class="navbar-nav nav-right d-none d-md-flex w-100 gap-2 gap-lg-3 justify-content-center my-3 pt-2">
          <a class="nav-link" href="#how-it-works">HOW IT WORKS</a>
          <a class="nav-link" href="#why-flavour-bomb">WHY FLAVOUR BOMB?</a>
        </div>

        <!-- Hamburger Menu -->
        <div class="hamburger-menu d-flex align-items-center gap-2 d-md-none px-3 mt-3">
          <button class="hamburger-btn" type="button" aria-label="Toggle navigation menu">
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
          </button>
        </div>

      </div>
    </nav>
  </div>

  <main id="main" style="overflow: hidden;">

    <div class="bg-red position-relative">
      <div class="pt-4 pb-5 py-lg-5"></div>
      <div class="py-5"></div>
      <div class="py-xl-2"></div>
      <section id="hero" class="hero-back">
        <div class="background-hero-image position-absolute top-0 start-0 w-100">
          <img src="{{ 'fb__hero-background.jpg' | asset_url }}" alt="A dramatic hero image showing the range of Flavour Bombs with delicious food." class="w-100" style="object-position: center; object-fit: cover; min-height: calc(100vh);">
          <video src="https://cdn.shopify.com/videos/c/o/v/a8c5027ebae343cfa619ef986130ecd2.mp4" autoplay="" muted="" loop="" playsinline="" class="w-100 position-absolute top-0 start-0" style="object-position: center; object-fit: cover; min-height: calc(100vh); pointer-events:none;"></video>
        </div>
        <div class="container-fluid container-fluid--max position-relative" style="z-index: 3;">
          <div class="row">
            <div class="col-12">

              <div id="hero-text" class="position-relative">
                <div class="text-center d-flex flex-column gap-3">
                  <span id="hero-line-1" class="display-1">Dynamite Comes in</span>
                  <span id="hero-line-2" class="display-2">Small Packages</span>
                </div>
              </div>

              <div class="position-relative px-md-5 mx-xl-5">
                <div class="px-lg-5 mx-md-5 text-center">
                  <div class="bam bam--1" style="background-image: url('{{ "fb__bam.svg" | asset_url }}')"></div>
                  <div class="bam bam--2" style="background-image: url('{{ "fb__bam.svg" | asset_url }}')"></div>
                  <img src="{{ 'fb__flav-bombs-hero.png' | asset_url }}" srcset="{{ 'fb__flav-bombs-hero.png' | asset_url }} 1x, {{ 'fb__flav-bombs-hero@2x.png' | asset_url }} 2x" alt="Flavour Bombs Range from Ina Paarman" class="w-100 px-5 mx-auto position-relative" style="margin-top:-02vw; max-width: 1200px;">
                </div>
              </div>

              <div class="text-center position-relative">
                <p class="lead font-lead text-white text-uppercase mx-auto my-4 px-4" style="max-width: 850px;">Ignite your cooking with Flavour Bombs - concentrated paste sachets that unleash big taste in&nbsp;seconds.</p>
                <div class="py-1"></div>
                <a class="btn-bomb mx-auto my-3" href="#flavours">
                  <span class="btn-bomb__text">
                    Explore Flavours
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
    <section id="what-is-it" class="py-5 position-relative bg-red" style="scroll-margin-top: 100px;">
      <div class="py-lg-4"></div>
      <div class="py-4"></div>
      <div class="container-fluid container-fluid--max">
        <div class="mx-3 mx-md-5">
          <div class="row mx-lg-4">
            <div class="col-lg-6">

                <h2>A Taste Explosion, Simplified.</h2>
                <img src="{{ 'fb__serv.png' | asset_url }}" srcset="{{ 'fb__serv.png' | asset_url }} 1x, {{ 'fb__serv@2x.png' | asset_url }} 2x" alt="Illustration showing one sachet serves 1-2 people." class="mt-4 my-md-5 pt-3" style="width: 70%; max-width: 300px;">

            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-md-6 col-lg-12">
                  <div class="bam bam--3" style="background-image: url('{{ "fb__bam.svg" | asset_url }}')"></div>
                  <p class="lead font-lead text-white text-uppercase mt-2 mt-lg-3 py-4 py-md-0 position-relative" style="max-width: 500px;">Each tube contains 4 x 26.5g sachets of concentrated cooking paste. just add oil, mix with your protein, and ignite the flavour.</p>
                </div>
                <div class="col-md-6 col-lg-12 pack-col">
                  <div class="w-100 pack-block" style="max-width: 650px;"></div>
                  
                  <img src="{{ 'fb__pack-open.png' | asset_url }}" srcset="{{ 'fb__pack-open.png' | asset_url }} 1x, {{ 'fb__pack-open@2x.png' | asset_url }} 2x" alt="Ina Paarman's Flavour Bomb open box showing sachets." class="position-absolute bottom-0 end-0 pack-pick" style="max-width: 1000px;">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="flavours" class="position-relative" style="scroll-margin-top: 100px;">
      <div class="container-fluid" style="max-width: 2000px;">
        <div class="row" id="flavour-columns">
<div class="col-lg-6 col-xl bg-cajun">
  <div class="product-column d-flex flex-xl-column justify-content-between align-items-center position-relative h-100">
    <div class="text-center px-4 mt-4 mt-lg-5">
      <h2 class="h4">SPICY<br><span class="h3">CAJUN</span></h2>
      <p class="font-body text-white pb-lg-4 p-20" style="max-width: 350px;">Vibrant Cajun spices that recreate that authentic taste sensation from 'Down&nbsp;South!</p>

      <div class="ingredients-container mb-3 mb-lg-4 d-xl-none">
        <img src="{{ 'fb__food-fish.png' | asset_url }}" alt="Fish" class="ingredient-icon" style="margin: 2px;"><img src="{{ 'fb__food-chicken.png' | asset_url }}" alt="Chicken" class="ingredient-icon" style="margin: 2px;">
      </div>
    </div>
    <div>
      <div class="ingredients-container mb-3 mb-lg-4 d-none d-xl-flex">
        <img src="{{ 'fb__food-fish.png' | asset_url }}" alt="Fish" class="ingredient-icon" style="margin: 2px;"><img src="{{ 'fb__food-chicken.png' | asset_url }}" alt="Chicken" class="ingredient-icon" style="margin: 2px;">
      </div>
      <div class="product-image-wrapper d-flex justify-content-center">
        <div class="position-relative d-block">
          <div class="bg-dark position-absolute product-shadow" style="width: 78%; left: 11%; top: 8%; border-radius: 30px; 
          webkit-filter: blur(15px);
          filter: blur(15px)"></div>
          <img src="{{ 'fb__pack-cajun.png' | asset_url }}" srcset="{{ 'fb__pack-cajun.png' | asset_url }} 1x, {{ 'fb__pack-cajun@2x.png' | asset_url }} 2x" alt="SPICY CAJUN" class="w-100 position-relative">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-6 col-xl bg-lemon">
  <div class="product-column d-flex flex-xl-column justify-content-between align-items-center position-relative h-100">
    <div class="text-center px-4 mt-4 mt-lg-5">
      <h2 class="h4">ZESTY<br><span class="h3">LEMON</span></h2>
      <p class="font-body text-white pb-lg-4 p-20" style="max-width: 350px;">Fresh lemon, fruity olive oil and aromatic&nbsp;herbs.</p>

      <div class="ingredients-container mb-3 mb-lg-4 d-xl-none">
        <img src="{{ 'fb__food-fish.png' | asset_url }}" alt="Fish" class="ingredient-icon" style="margin: 2px;"><img src="{{ 'fb__food-chicken.png' | asset_url }}" alt="Chicken" class="ingredient-icon" style="margin: 2px;">
      </div>
    </div>
    <div>
      <div class="ingredients-container mb-3 mb-lg-4 d-none d-xl-flex">
        <img src="{{ 'fb__food-fish.png' | asset_url }}" alt="Fish" class="ingredient-icon" style="margin: 2px;"><img src="{{ 'fb__food-chicken.png' | asset_url }}" alt="Chicken" class="ingredient-icon" style="margin: 2px;">
      </div>
      <div class="product-image-wrapper d-flex justify-content-center">
        <div class="position-relative d-block">
          <div class="bg-dark position-absolute product-shadow" style="width: 78%; left: 11%; top: 8%; border-radius: 30px; 
          webkit-filter: blur(15px);
          filter: blur(15px)"></div>
          <img src="{{ 'fb__pack-lemon.png' | asset_url }}" srcset="{{ 'fb__pack-lemon.png' | asset_url }} 1x, {{ 'fb__pack-lemon@2x.png' | asset_url }} 2x" alt="ZESTY LEMON" class="w-100 position-relative">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-6 col-xl bg-periperi">
  <div class="product-column d-flex flex-xl-column justify-content-between align-items-center position-relative h-100">
    <div class="text-center px-4 mt-4 mt-lg-5">
      <h2 class="h4">PORTUGUESE<br><span class="h3">PERI-PERI</span></h2>
      <p class="font-body text-white pb-lg-4 p-20" style="max-width: 350px;">Feisty chillis, smoky garlic together with the tangy acidity of fresh&nbsp;lemon</p>

      <div class="ingredients-container mb-3 mb-lg-4 d-xl-none">
        <img src="{{ 'fb__food-prawn.png' | asset_url }}" alt="Prawn" class="ingredient-icon" style="margin: 2px;"><img src="{{ 'fb__food-chicken.png' | asset_url }}" alt="Chicken" class="ingredient-icon" style="margin: 2px;">
      </div>
    </div>
    <div>
      <div class="ingredients-container mb-3 mb-lg-4 d-none d-xl-flex">
        <img src="{{ 'fb__food-prawn.png' | asset_url }}" alt="Prawn" class="ingredient-icon" style="margin: 2px;"><img src="{{ 'fb__food-chicken.png' | asset_url }}" alt="Chicken" class="ingredient-icon" style="margin: 2px;">
      </div>
      <div class="product-image-wrapper d-flex justify-content-center">
        <div class="position-relative d-block">
          <div class="bg-dark position-absolute product-shadow" style="width: 78%; left: 11%; top: 8%; border-radius: 30px; 
          webkit-filter: blur(15px);
          filter: blur(15px)"></div>
          <img src="{{ 'fb__pack-periperi.png' | asset_url }}" srcset="{{ 'fb__pack-periperi.png' | asset_url }} 1x, {{ 'fb__pack-periperi@2x.png' | asset_url }} 2x" alt="PORTUGUESE PERI-PERI" class="w-100 position-relative">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-6 col-xl bg-pepper">
  <div class="product-column d-flex flex-xl-column justify-content-between align-items-center position-relative h-100">
    <div class="text-center px-4 mt-4 mt-lg-5">
      <h2 class="h4">STEAKHOUSE<br><span class="h3">PEPPER</span></h2>
      <p class="font-body text-white pb-lg-4 p-20" style="max-width: 350px;">Pungent pepper, slow brewed roasted coffee and umami laden Beef and mushroom&nbsp;broth</p>

      <div class="ingredients-container mb-3 mb-lg-4 d-xl-none">
        <img src="{{ 'fb__food-beef.png' | asset_url }}" alt="Beef" class="ingredient-icon" style="margin: 2px;"><img src="{{ 'fb__food-mushroom.png' | asset_url }}" alt="Mushroom" class="ingredient-icon" style="margin: 2px;">
      </div>
    </div>
    <div>
      <div class="ingredients-container mb-3 mb-lg-4 d-none d-xl-flex">
        <img src="{{ 'fb__food-beef.png' | asset_url }}" alt="Beef" class="ingredient-icon" style="margin: 2px;"><img src="{{ 'fb__food-mushroom.png' | asset_url }}" alt="Mushroom" class="ingredient-icon" style="margin: 2px;">
      </div>
      <div class="product-image-wrapper d-flex justify-content-center">
        <div class="position-relative d-block">
          <div class="bg-dark position-absolute product-shadow" style="width: 78%; left: 11%; top: 8%; border-radius: 30px; 
          webkit-filter: blur(15px);
          filter: blur(15px)"></div>
          <img src="{{ 'fb__pack-pepper.png' | asset_url }}" srcset="{{ 'fb__pack-pepper.png' | asset_url }} 1x, {{ 'fb__pack-pepper@2x.png' | asset_url }} 2x" alt="STEAKHOUSE PEPPER" class="w-100 position-relative">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12 col-xl bg-tomato">
  <div class="product-column d-flex flex-xl-column justify-content-between align-items-center position-relative h-100">
    <div class="text-center px-4 mt-4 mt-lg-5">
      <h2 class="h4">SPANISH<br><span class="h3">TOMATO</span></h2>
      <p class="font-body text-white pb-lg-4 p-20" style="max-width: 350px;">Sun-ripened fresh tomato, slow roasted peppers and smoked paprika&nbsp;spice.</p>

      <div class="ingredients-container mb-3 mb-lg-4 d-xl-none">
        <img src="{{ 'fb__food-beef.png' | asset_url }}" alt="Beef" class="ingredient-icon" style="margin: 2px;"><img src="{{ 'fb__food-lamb.png' | asset_url }}" alt="Lamb" class="ingredient-icon" style="margin: 2px;"><img src="{{ 'fb__food-chicken.png' | asset_url }}" alt="Chicken" class="ingredient-icon" style="margin: 2px;">
      </div>
    </div>
    <div>
      <div class="ingredients-container mb-3 mb-lg-4 d-none d-xl-flex">
        <img src="{{ 'fb__food-beef.png' | asset_url }}" alt="Beef" class="ingredient-icon" style="margin: 2px;"><img src="{{ 'fb__food-lamb.png' | asset_url }}" alt="Lamb" class="ingredient-icon" style="margin: 2px;"><img src="{{ 'fb__food-chicken.png' | asset_url }}" alt="Chicken" class="ingredient-icon" style="margin: 2px;">
      </div>
      <div class="product-image-wrapper d-flex justify-content-center">
        <div class="position-relative d-block">
          <div class="bg-dark position-absolute product-shadow" style="width: 78%; left: 11%; top: 8%; border-radius: 30px; 
          webkit-filter: blur(15px);
          filter: blur(15px)"></div>
          <img src="{{ 'fb__pack-tomato.png' | asset_url }}" srcset="{{ 'fb__pack-tomato.png' | asset_url }} 1x, {{ 'fb__pack-tomato@2x.png' | asset_url }} 2x" alt="SPANISH TOMATO" class="w-100 position-relative">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
      </div>  
    </section>

    <section id="explore-recipes" class="pb-5 mb-lg-5 position-relative" style="scroll-margin-top: 50px;">
      <div class="bam bam--3" style="background-image: url('{{ "fb__bam.svg" | asset_url }}')"></div>
      <div class="bam bam--4" style="background-image: url('{{ "fb__bam.svg" | asset_url }}')"></div>
      <div class="container-fluid container-fluid--max position-relative">
        <div class="row">
          <div class="col-12 col-md-8 offset-md-2 text-center">
            <div class="py-4 d-none d-xl-block" style="height: 200px;"></div>
            <h2 class="h2 text-uppercase mt-5 mt-xl-0 pt-md-5 pt-xl-0">Watch the<br>Flavour Explode.</h2>
            <p class="lead font-lead text-white text-uppercase mt-4 mt-lg-4 py-4 mx-auto" style="max-width: 550px;">See Flavour Bomb in action with quick-hit recipe videos. From steak to seafood, each recipe shows you how easy it is to bring bold taste to the table.</p>
          </div>
        </div>
        <div class="mx-3 mx-md-5">
          <div class="row g-4 mx-lg-4 mx-xl-5">
            <div class="col-12 mt-5 pt-md-5">
              <div class="ratio-16x9">
                <div class="inner-ratio rounded-3">
                  <img src="{{ 'fb__vp0.jpg' | asset_url }}" alt="Video thumbnail for Portugese Peri-Peri Prawns recipe" class="w-100 rounded-3">
                  <div class="ratio-shadow"></div>
                  <div class="ratio_content">
                    <a href="https://www.youtube.com/watch?v=ReN0z23HWzY" class="ratio-link" data-lity="">
                      <h2 class="h2 d-none d-md-block text-uppercase position-absolute bottom-0 start-0 w-100 text-center text-white" style="padding-bottom: 5%;">Portugese Peri-Peri Prawns</h2>
                      <h2 class="h3 d-md-none text-uppercase position-absolute bottom-50 start-0 w-100 text-center text-white" style="line-height: 0.7">Portugese Peri-Peri Prawns</h2>
                      <span class="d-block position-absolute bottom-0 start-0 w-100 h-100 text-center"></span>
                    </a>
                    <div class="ratio-play">
                      <img src="{{ 'fb__yt_play.png' | asset_url }}" alt="Play button for YouTube video" class="w-100">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 video-small">
              <div class="ratio-16x9">
                <div class="inner-ratio rounded-3">
                  <img src="{{ 'fb__vp1.jpg' | asset_url }}" alt="Video thumbnail for Spanish Tomato Pork recipe" class="w-100 rounded-3">
                  <div class="ratio-shadow"></div>
                  <div class="ratio_content">
                    <a href="https://www.youtube.com/watch?v=_GGISxdMgZI" class="ratio-link" data-lity="">
                      <h2 class="h3 text-uppercase position-absolute bottom-50 start-0 w-100 text-center text-white" style="line-height: 0.7"><span class="d-block">Spanish Tomato</span> <span class="d-block">Pork</span></h2>
                      <span class="d-block position-absolute bottom-0 start-0 w-100 h-100 text-center"></span>
                    </a>
                    <div class="ratio-play">
                      <img src="{{ 'fb__yt_play.png' | asset_url }}" alt="Play button for YouTube video" class="w-100">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 video-small">
              <div class="ratio-16x9">
                <div class="inner-ratio rounded-3">
                  <img src="{{ 'fb__vp2.jpg' | asset_url }}" alt="Video thumbnail for Spanish Tomato Lamb recipe" class="w-100 rounded-3">
                  <div class="ratio-shadow"></div>
                  <div class="ratio_content">
                    <a href="https://www.youtube.com/watch?v=lNSAkCNfy9I" class="ratio-link" data-lity="">
                      <h2 class="h3 text-uppercase position-absolute bottom-50 start-0 w-100 text-center text-white" style="line-height: 0.7"><span class="d-block">spanish tomato</span> <span class="d-block">lamb</span></h2>
                      <span class="d-block position-absolute bottom-0 start-0 w-100 h-100 text-center"></span>
                    </a>
                    <div class="ratio-play">
                      <img src="{{ 'fb__yt_play.png' | asset_url }}" alt="Play button for YouTube video" class="w-100">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 video-small">
              <div class="ratio-16x9">
                <div class="inner-ratio rounded-3">
                  <img src="{{ 'fb__vp3.jpg' | asset_url }}" alt="Video thumbnail for Spicy Cajun Chicken Skewers recipe" class="w-100 rounded-3">
                  <div class="ratio-shadow"></div>
                  <div class="ratio_content">
                    <a href="https://youtube.com/watch?v=tw2vA5cZ6tg" class="ratio-link" data-lity="">
                      <h2 class="h3 text-uppercase position-absolute bottom-50 start-0 w-100 text-center text-white" style="line-height: 0.7"><span class="d-block">Spicy Cajun</span> <span class="d-block">Chicken Skewers</span></h2>
                      <span class="d-block position-absolute bottom-0 start-0 w-100 h-100 text-center"></span>
                    </a>
                    <div class="ratio-play">
                      <img src="{{ 'fb__yt_play.png' | asset_url }}" alt="Play button for YouTube video" class="w-100">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 video-small">
              <div class="ratio-16x9">
                <div class="inner-ratio rounded-3">
                  <img src="{{ 'fb__vp4.jpg' | asset_url }}" alt="Video thumbnail for Steakhouse Pepper Mushroom recipe" class="w-100 rounded-3">
                  <div class="ratio-shadow"></div>
                  <div class="ratio_content">
                    <a href="https://youtube.com/watch?v=5UfLoe8cY00" class="ratio-link" data-lity="">
                      <h2 class="h3 text-uppercase position-absolute bottom-50 start-0 w-100 text-center text-white" style="line-height: 0.7"><span class="d-block">steakhouse</span> <span class="d-block">pepper mushroom</span></h2>
                      <span class="d-block position-absolute bottom-0 start-0 w-100 h-100 text-center"></span>
                    </a>
                    <div class="ratio-play">
                      <img src="{{ 'fb__yt_play.png' | asset_url }}" alt="Play button for YouTube video" class="w-100">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 video-small">
              <div class="ratio-16x9">
                <div class="inner-ratio rounded-3">
                  <img src="{{ 'fb__vp5.jpg' | asset_url }}" alt="Video thumbnail for Steakhouse Pepper Steak recipe" class="w-100 rounded-3">
                  <div class="ratio-shadow"></div>
                  <div class="ratio_content">
                    <a href="https://youtube.com/watch?v=9iutAUrlKnw" class="ratio-link" data-lity="">
                      <h2 class="h3 text-uppercase position-absolute bottom-50 start-0 w-100 text-center text-white" style="line-height: 0.7"><span class="d-block">STEAKHOUSE</span> <span class="d-block">PEPPER STEAK</span></h2>
                      <span class="d-block position-absolute bottom-0 start-0 w-100 h-100 text-center"></span>
                    </a>
                    <div class="ratio-play">
                      <img src="{{ 'fb__yt_play.png' | asset_url }}" alt="Play button for YouTube video" class="w-100">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 video-small">
              <div class="ratio-16x9">
                <div class="inner-ratio rounded-3">
                  <img src="{{ 'fb__vp6.jpg' | asset_url }}" alt="Video thumbnail for Zesty Lemon Chicken Pieces recipe" class="w-100 rounded-3">
                  <div class="ratio-shadow"></div>
                  <div class="ratio_content">
                    <a href="https://youtube.com/watch?v=_lIsu9SdblE" class="ratio-link" data-lity="">
                      <h2 class="h3 text-uppercase position-absolute bottom-50 start-0 w-100 text-center text-white" style="line-height: 0.7"><span class="d-block">zesty lemon</span> <span class="d-block">chicken pieces</span></h2>
                      <span class="d-block position-absolute bottom-0 start-0 w-100 h-100 text-center"></span>
                    </a>
                    <div class="ratio-play">
                      <img src="{{ 'fb__yt_play.png' | asset_url }}" alt="Play button for YouTube video" class="w-100">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 video-small">
              <div class="ratio-16x9">
                <div class="inner-ratio rounded-3">
                  <img src="{{ 'fb__vp7.jpg' | asset_url }}" alt="Video thumbnail for Zesty Lemon Fish recipe" class="w-100 rounded-3">
                  <div class="ratio-shadow"></div>
                  <div class="ratio_content">
                    <a href="https://youtube.com/watch?v=wKXK76iDjPo" class="ratio-link" data-lity="">
                      <h2 class="h3 text-uppercase position-absolute bottom-50 start-0 w-100 text-center text-white" style="line-height: 0.7"><span class="d-block">ZESTY LEMON</span> <span class="d-block">FISH</span></h2>
                      <span class="d-block position-absolute bottom-0 start-0 w-100 h-100 text-center"></span>
                    </a>
                    <div class="ratio-play">
                      <img src="{{ 'fb__yt_play.png' | asset_url }}" alt="Play button for YouTube video" class="w-100">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 video-small">
              <div class="ratio-16x9">
                <div class="inner-ratio rounded-3">
                  <img src="{{ 'fb__vp8.jpg' | asset_url }}" alt="Video thumbnail for Port Peri Peri Chicken Fillet recipe" class="w-100 rounded-3">
                  <div class="ratio-shadow"></div>
                  <div class="ratio_content">
                    <a href="https://youtube.com/watch?v=3xkHezeK-bg" class="ratio-link" data-lity="">
                      <h2 class="h3 text-uppercase position-absolute bottom-50 start-0 w-100 text-center text-white" style="line-height: 0.7"><span class="d-block">port peri peri</span> <span class="d-block">chicken fillet</span></h2>
                      <span class="d-block position-absolute bottom-0 start-0 w-100 h-100 text-center"></span>
                    </a>
                    <div class="ratio-play">
                      <img src="{{ 'fb__yt_play.png' | asset_url }}" alt="Play button for YouTube video" class="w-100">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 video-small">
              <div class="ratio-16x9">
                <div class="inner-ratio rounded-3">
                  <img src="{{ 'fb__vp9.jpg' | asset_url }}" alt="Video thumbnail for Spanish Tomato Chicken Wings recipe" class="w-100 rounded-3">
                  <div class="ratio-shadow"></div>
                  <div class="ratio_content">
                    <a href="https://youtube.com/watch?v=b7JNNtKLWvA" class="ratio-link" data-lity="">
                      <h2 class="h3 text-uppercase position-absolute bottom-50 start-0 w-100 text-center text-white" style="line-height: 0.7"><span class="d-block">Spanish Tomato</span> <span class="d-block">Chicken Wings</span></h2>
                      <span class="d-block position-absolute bottom-0 start-0 w-100 h-100 text-center"></span>
                    </a>
                    <div class="ratio-play">
                      <img src="{{ 'fb__yt_play.png' | asset_url }}" alt="Play button for YouTube video" class="w-100">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 video-small">
              <div class="ratio-16x9">
                <div class="inner-ratio rounded-3">
                  <img src="{{ 'fb__vp10.jpg' | asset_url }}" alt="Video thumbnail for Spicy Cajun Fish recipe" class="w-100 rounded-3">
                  <div class="ratio-shadow"></div>
                  <div class="ratio_content">
                    <a href="https://youtube.com/watch?v=Wir_QUPQYzY" class="ratio-link" data-lity="">
                      <h2 class="h3 text-uppercase position-absolute bottom-50 start-0 w-100 text-center text-white" style="line-height: 0.7"><span class="d-block">Spicy Cajun</span> <span class="d-block">Fish</span></h2>
                      <span class="d-block position-absolute bottom-0 start-0 w-100 h-100 text-center"></span>
                    </a>
                    <div class="ratio-play">
                      <img src="{{ 'fb__yt_play.png' | asset_url }}" alt="Play button for YouTube video" class="w-100">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="bg-red bg-luminosity" style="background-image: url('{{ "fb__red-luminosity.jpg" | asset_url }}'); background-position: bottom; background-repeat: no-repeat;">
      
      <div class="text-end text-lg-center">
        <img src="{{ 'fb__how-spark.png' | asset_url }}" alt="Spark illustration for 'How it works' section" class="mx-5" style="width: 415px; max-width: 25%; margin-bottom: -3%;">
      </div>

      <section id="how-it-works" class="pb-5 pb-xl-0 position-relative" style="scroll-margin-top: 200px;">
        <div class="container-fluid container-fluid--max">
          <div class="row mx-3 mx-md-5 align-items-center">
            <!-- Left Column - Instructions -->
            <div class="col-lg-6">
              <div class="px-4 px-lg-5">
                <h2 class="h2 text-white text-uppercase mb-5">BIG TASTE,<br>NO HASSLE.</h2>
                
                <div class="cooking-methods mb-5 pt-lg-4">
                  <div class="how__wrapper">
                    <div class="how__button" data-method="pan">
                      <h3 class="h3 text-white text-uppercase">PAN FRY</h3>
                    </div>
                    <div class="how__content">
                      <div class="pt-5 pb-lg-4"></div>
                      <ul class="cooking-steps text-white pb-0 pb-lg-5 mb-4" style="max-width: 600px;">
                        <li><p class="font-body text-white p-20">Mix 1x Flavour Bomb and 1 Tablespoon of oil for every 150–200g of meat or vegetables. Put aside for later use.</p></li>
                        <li><p class="font-body text-white p-20">Fry meat or vegetables until done to your liking, then remove from the pan.</p></li>
                        <li><p class="font-body text-white p-20">Stir your Flavour Bomb mixture into the pan and warm through.</p></li>
                        <li><p class="font-body text-white p-20">Add meat or vegetables back in and toss until fully incorporated.</p></li>
                        <li><p class="font-body text-white p-20">Serve.</p></li>
                      </ul>

                      <div class="d-flex d-lg-none gap-3 align-items-end mb-5">
                        <img src="{{ 'fb__time-pan.png' | asset_url }}" alt="Illustration indicating pan frying takes 5-10 minutes." style="max-height: 120px;">
                        <img src="{{ 'fb__portion-size.png' | asset_url }}" alt="Illustration showing one sachet is one portion." style="max-height: 110px; margin-bottom:-15px;">
                      </div>
                    </div>
                  </div>

                  <div class="how__wrapper">
                    <div class="how__button" data-method="air">
                      <h3 class="h3 text-white text-uppercase">AIR FRY / OVEN</h3>
                    </div>
                    <div class="how__content">
                      <div class="pt-5 pb-lg-4"></div>
                      <ul class="cooking-steps text-white pb-3 pb-lg-5 mb-4" style="max-width: 600px;">
                        <li><p class="font-body text-white p-20">For every 150 - 200 g of meat or vegetables use 1 x Flavour Bomb sachet.</p></li>
                        <li><p class="font-body text-white p-20">Mix Flavour Bomb/s with oil.</p></li>
                        <li><p class="font-body text-white p-20">Preheat oven to 180°C.</p></li>
                        <li><p class="font-body text-white p-20">Coat meat or vegetables with Flavour Bomb /oil mixture.</p></li>
                        <li><p class="font-body text-white p-20">Roast until done.</p></li>
                        <li><p class="font-body text-white p-20">Serve.</p></li>
                      </ul>
                      <div class="d-flex d-lg-none gap-3 align-items-end mb-5">
                        <img src="{{ 'fb__time-air.png' | asset_url }}" alt="Illustration indicating air frying takes 15-20 minutes." style="max-height: 120px;">
                        <img src="{{ 'fb__portion-size.png' | asset_url }}" alt="Illustration showing one sachet is one portion." style="max-height: 110px; margin-bottom:-15px;">
                      </div>
                    </div>
                  </div>

                  <div class="how__wrapper active">
                    <div class="how__button" data-method="braai">
                      <h3 class="h3 text-white text-uppercase">BRAAI / GRIDDLE PAN</h3>
                    </div>
                    <div class="how__content">
                      <div class="pt-5 pb-lg-4"></div>
                      <ul class="cooking-steps text-white pb-3 pb-lg-5 mb-4" style="max-width: 600px;">
                        <li><p class="font-body text-white p-20">For every 150 - 200 g of meat or vegetables use 1 x Flavour Bomb sachet.</p></li>
                        <li><p class="font-body text-white p-20">Mix Flavour Bomb/s with oil and put aside for later use.</p></li>
                        <li><p class="font-body text-white p-20">Prepare fire or heat griddle pan.</p></li>
                        <li><p class="font-body text-white p-20">Brush meat or vegetables with extra oil.</p></li>
                        <li><p class="font-body text-white p-20">Cook until just about done.</p></li>
                        <li><p class="font-body text-white p-20">Baste with Flavour Bomb / oil mixture and finish off briefly over the coals / griddle pan.</p></li>
                        <li><p class="font-body text-white p-20">Serve.</p></li>
                      </ul>
                      <div class="d-flex d-lg-none gap-3 align-items-end mb-5">
                        <img src="{{ 'fb__time-braai.png' | asset_url }}" alt="Illustration indicating braaiing takes 15-20 minutes." style="max-height: 120px;">
                        <img src="{{ 'fb__portion-size.png' | asset_url }}" alt="Illustration showing one sachet is one portion." style="max-height: 110px; margin-bottom:-15px;">
                      </div>
                    </div>
                  </div>
                </div>
                <p class="font-body text-black text-center p-20 d-lg-none" style="max-width: 350px; margin: 0 auto;">
                  <span class="text-uppercase">Please note:</span> Above timings are guidelines only and cooking times may vary.
                </p>
              </div>
            </div>

            <!-- Right Column - Visual Elements -->
            <div class="col-lg-6 d-none d-lg-block">
              <div class="position-relative cooking-method-image braai-active">
                <img src="{{ 'fb__how-method-back.png' | asset_url }}" alt="Background image for cooking methods." class="w-100">
                <img src="{{ 'fb__how-method-pan.png' | asset_url }}" alt="Illustration of pan frying method." class="position-absolute top-0 start-0 w-100 method-pan">
                <img src="{{ 'fb__how-method-air.png' | asset_url }}" alt="Illustration of air frying method." class="position-absolute top-0 start-0 w-100 method-air">
                <img src="{{ 'fb__how-method-braai.png' | asset_url }}" alt="Illustration of braai method." class="position-absolute top-0 start-0 w-100 method-braai">
                <div class="position-absolute" style="width: 20%; top: 25%; left: 7%;">
                  <img src="{{ 'fb__time-pan.png' | asset_url }}" alt="Illustration indicating pan frying takes 5-10 minutes." class="w-100 time-pan">
                  <img src="{{ 'fb__time-air.png' | asset_url }}" alt="Illustration indicating air frying takes 15-20 minutes." class="position-absolute top-0 start-0 w-100 time-air">
                  <img src="{{ 'fb__time-braai.png' | asset_url }}" alt="Illustration indicating braaiing takes 15-20 minutes." class="position-absolute top-0 start-0 w-100 time-braai">
                </div>
                <img src="{{ 'fb__portion-size.png' | asset_url }}" alt="Illustration showing one sachet is one portion." class="position-absolute" style="width: 200px; max-width: 30%; bottom: 5%; right: 5%;">
              </div>
              <p class="font-body text-black text-center p-20" style="max-width: 500px; margin: 0 auto;">
                <span class="text-uppercase">Please note:</span> Above timings are guidelines only and cooking times may vary.
              </p>
            </div>
          </div>
        </div>
      </section>

      <div class="container-fluid container-fluid--max py-4 my-xl-1">
        <div class="row mx-3 mx-md-5">
          <div class="col-12">
            <div class="star-divider gap-3 d-flex justify-items-center px-4 px-lg-5">
              <svg width="35" height="32" viewBox="0 0 35 32" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 70px; height: 70px; transform: translateY(-2px);">
                <path d="M7.05728 32L11.0287 19.777L0.631226 12.223L13.4833 12.223L17.4547 2.00618e-07L21.4261 12.223L34.2782 12.223L23.8808 19.777L27.8521 32L17.4547 24.4457L7.05728 32Z" fill="white"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <section id="why-flavour-bomb" class="py-5 position-relative z-index-1" style="scroll-margin-top: 110px;">
        <div class="container-fluid container-fluid--max">
          <img src="{{ 'fb__blur-pack-1.png' | asset_url }}" class="position-absolute bp-1 d-none d-md-block" alt="" role="presentation">
          <img src="{{ 'fb__blur-pack-2.png' | asset_url }}" class="position-absolute bp-2 d-none d-lg-block" alt="" role="presentation">
          <div class="row mx-3 mx-md-5 position-relative">
            <!-- Main Content -->
            <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3 text-center">
              <div class="quality-pledge">
                <img src="{{ 'fb__quality-pledge.png' | asset_url }}" alt="Ina Paarman's Quality Pledge: No added MSG, No artificial colours, Single serve sachets" style="width: 500px; max-width: 70%;">
              </div>
              <!-- Main Headline -->
              <h2 class="h2 text-white text-uppercase mb-xl-4">
                NOT YOUR AVERAGE SEASONING.
              </h2>
            </div>
            <div class="col-12">
              <div class="text-center py-5">
                <!-- Descriptive Text -->
                <div class="row justify-content-center mb-5">
                  <div class="col-lg-8 col-xl-5 text-center">
                    <p class="p-20 font-body text-white" style="max-width: 800px; margin: 0 auto;">
                      Crafted in the Paarman Kitchen, Flavour Bombs deliver concentrated flavour with no added MSG, no artificial colours, and the convenience of single-serve sachets. It's a new way to cook – bold, fast, and flavour-packed.
                    </p>

                    <div class="py-lg-4"></div>

                    <a href="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/IPK_Flavour_Bomb_Leaflet.pdf?v=1758121424" target="_blank" class="btn-bomb mx-auto mt-5 mt-lg-4">
                      <span class="btn-bomb__text">
                        Download Leaflet
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <img src="{{ 'fb__pack-pepper@2x.png' | asset_url }}" class="position-absolute bp-3 d-none d-lg-block" alt="" role="presentation">
        </div>
      </section>

    </div>    
    <div class="pt-lg-5 pb-4"></div>
  </main>
  <div id="footer-group" class="bg-black pb-4 pb-lg-5 position-relative overflow-hidden">

    <div class="bam bam--5 d-none d-xl-block" style="background-image: url('{{ "fb__bam.svg" | asset_url }}')"></div>
    <div class="container-fluid container-fluid--max">
      <div class="row align-items-center">
        <div class="col-md-6 text-center">
          <img src="{{ 'fb__logo-large-footer.png' | asset_url }}" alt="Ina Paarman logo" class="my-5" style="width: 384px; max-width: 70%;">
          <div class="py-md-5"></div>
        </div>
        <div class="col-md-6 col-lg-5 text-center text-md-start pb-5 pb-md-3">
          <h4 class="h2">Ready to ignite <span class="d-block d-md-inline">your cooking?</span></h4>
          <div class="d-inline-flex flex-column flex-md-row gap-3 gap-md-5 justify-content-start my-4">
            <a href="#explore-recipes" class="btn-arrow">
                Explore Recipes
            </a>
            <a href="https://cdn.shopify.com/s/files/1/0583/8415/4690/files/IPK_Flavour_Bomb_Leaflet.pdf?v=1758121424" target="_blank" class="btn-arrow">
                Download Leaflet
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>